modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["twilio:1.0.0", "stripe:2.0.0", "resend:1.0.0", "javascript_openai_ai_integrations:2.0.0", "javascript_object_storage:2.0.0"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BFPzTJh87JHoq7y-Pn0adv2b4vRBOXouLmqrZO46DGcDHRMdEh_MNFMSlTbWl-_C1aO_cSrfabPgri5FJJhiyrw"
VAPID_PRIVATE_KEY = "NoLYiJ4lztcATms8h7lhqaABpJHA1kyYHXtBTGDWTbk"
VAPID_EMAIL = "mailto:support@whachatcrm.com"
APP_URL = "https://whachatcrm.com"
SHOPIFY_APP_HOST = "https://whachatcrm.com"
VITE_LEADCONNECTOR_INSTALL_URL = "https://marketplace.leadconnectorhq.com/oauth/chooselocation?response_type=code&redirect_uri=https%3A%2F%2Fwhachatcrm.com%2Fapi%2Fext%2Fcallback&client_id=698aac74b0b22c778055e2cc-mlie99cf&scope=conversations.readonly+conversations.write+conversations%2Fmessage.readonly+conversations%2Fmessage.write+conversations%2Flivechat.write+locations.readonly+contacts.write+contacts.readonly&version_id=6990e64ded693fdb72c9325c"
GHL_ADMIN_KEY = "ghl-cleanup-0fond86jndmpzp47ldzo1d"

[userenv.production]
NODE_ENV = "production"

[userenv.development]
